.icon-facebook:before {
	content: "\f09a";
} /* '' */
.icon-youtube-play:before {
	content: "\f16a";
} /* '' */
.icon-instagram:before {
	content: "\f16d";
} /* '' */
.icon-address-card-o:before {
	content: "\f2bc";
} /* '' */
.icon-facebook-circled:before {
	content: "\f30d";
} /* '' */
.icon-menu:before {
	content: "\f0c9";
} /* '' */
